@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rhodium+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* header */
.div-header {
    background-image: url(assets/header-azul.png);
    /* min-height: 660px; */
    min-height: 90vh;
    background-size: 100%;
    background-repeat: no-repeat; 
}

.logo {
    max-width: 305px;
    max-height: 84px;
    margin-top: 5px;
}

/* navibar */
.superior-menu {
    text-decoration: none;
    overflow: hidden;
    text-align: right;
}

.logo-e-menu{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;

}

.superior-menu-ul {
    list-style-type: none;
    margin-top: 10px;
}

.superior-menu-li {
    display: inline-block;
}

.superior-menu-a {
    font-family: 'Rhodium Libre', serif;
    font-size: 14px;
    color: #F5F5F5;
    padding: 10px;
}

.superior-menu-a:hover {
    color: #DAA520;
}

/* CTA */
.div-CTA {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15%;
    margin-top: 130px;
}

.CTA-text{
    font-family: 'Lato', sans-serif;
    color: #F5F5F5;
    font-size: 48px;
}

/* CTA buttons */
.CTA-button {
    max-width: 305px;
}

.signin {
    color: #F5F5F5;
    background-color: #588F05;
    border-style: solid;
    border-color: #588F05;
    border-radius: 24px;
    padding: 2px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 14px;
}

.signin:hover {
    border-color: #DAA520;
    background-color: #DAA520;
}

.signup {
    color: #588F05;
    border-color: #588F05;
    background-color: #2E4A6E;
    border-style: solid;
    border-radius: 24px;
    padding: 2px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 14px;
}

.signup:hover {
    color: #F5F5F5;
    background-color: #DAA520;
    border-color: #DAA520;
}

/* body index*/
.body-index {
    background-color: #F8F8F8;
}

.body-index-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #150505;

}

.body-intex-tag {
    padding-left: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #150505;
}

/* Body CARDS */
.body-index-cards-general {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    gap: 2%;
}

/* CARD INDIVIDUAL */

.body-index-cards-individual {
    background-color: #F1EEE8;
    padding: 3% 2%;
    border-radius: 24px;
    max-width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.body-index-cards-individual:hover {
    background-color: #daa52038;
}

.card-img-book-cover {
    max-width: 102px;
}

.card-book-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #150505;
}

.card-book-description {
    font-family: 'Rhodium Libre', serif;
    color: #150505;
    font-size: 12px;

}

.rommance {
    padding-bottom: 5%;
}

/* footer */
.footer-main {
    background-color: #2E4A6E;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
/* footer first collumn */
.footer-left {
    min-width: 33%;
    display: flex;
    justify-content: center;
}

.footer-menu-ul {
    list-style-type: none;
}

.footer-menu-li {
    padding: 20px;
}

.footer-menu-a {
    color: #F5F5F5;
}

.footer-menu-a:hover{
    color: #DAA520;
}

/* footer second collumn */
.footer-middle {
    min-width: 33%;
    text-align: center;
    color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.footer-middle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.footer-middle-social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-icons {
    max-height: 40px;
}

.footer-middle-input {
    border-radius: 24px;
    padding: 5px 30px;
    border-style: none;
    margin-bottom: 20px;
}

.footer-middle-button {
    color: #F5F5F5;
    background-color: #588F05;
    border-style: solid;
    border-color: #588F05;
    border-radius: 24px;
    padding: 3px 20px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 14px;
}

.footer-middle-button:hover {
    border-color: #DAA520;
    background-color: #DAA520;
}

/* footer third collumn */
.footer-right {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
}

.footer-right-title {
    font-weight: 900;
}

/* BODY BOOK LIST */
.body-booklist {
    padding-bottom: 50px;
}


/* TABLE BOOK LIST*/
table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
}

th {
   height: 70px;
   font-family: 'Lato', sans-serif;
   color: #150505;
   font-weight: 900;
   font-size: 16px;
}

td {
    text-align: center;
    width: 200px;
    font-family: 'Lato', sans-serif;
    color: #150505;
    font-weight: 400;
    font-size: 14px;
}

tr:hover{
    background-color: #daa52038;
}

th, td {
    padding: 15px;
  }

.book-cover-table {
    max-width: 80px;
}

/* BODY ABOUT US */
.div-about-us {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    padding-bottom: 50px;
}

.text-about-us {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}