@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Rhodium+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/* ====> HEADER <==== */
/* 
.hero {
    position: absolute;
    top: 0;
    z-index: 0;    
} */

.div-header {
    background-image: url(assets/header-azul-1440.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    min-height: 84.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 1; */
}

.logo-e-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    /* z-index: 1; */
}

.logo {
    max-width: 50%;
    margin-top: 5px;
}

.superior-menu {
    text-decoration: none;
    overflow: hidden;
}

.superior-menu-ul {
    list-style-type: none;
    /* margin-top: 10px; */
}


.superior-menu-li {
    display: inline-block;
}

.superior-menu-a {
    font-family: 'Rhodium Libre', serif;
    font-size: 1.4rem;
    color: #F5F5F5;
    padding: 10px;
}

.superior-menu-a:hover {
    color: #DAA520;
}

/* ====> SECONDARY MENU */
.secondary-menu {
    background-color: #2E4A6E;
    display: flex;
    justify-content: center;
}

.div-secondary-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.superior-menu-ul-secondary-menu {
    list-style-type: none;
}


/* CTA */
.CTA-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1000px;
    margin-top: 10rem;
    /* z-index: 1; */
}

.div-CTA {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cta-empty {
    width: 50%;
    height: 50px;
}

.CTA-text{
    font-family: 'Lato', sans-serif;
    color: #F5F5F5;
    font-size: 4.8rem;
}

/* CTA buttons */
.CTA-button {
    max-width: 305px;
}

.signin {
    color: #F5F5F5;
    background-color: #588F05;
    border-style: solid;
    border-color: #588F05;
    border-radius: 24px;
    padding: 2px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.signin:hover {
    border-color: #DAA520;
    background-color: #DAA520;
}

.signup {
    color: #588F05;
    border-color: #588F05;
    background-color: #2E4A6E;
    border-style: solid;
    border-radius: 24px;
    padding: 2px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.signup:hover {
    color: #F5F5F5;
    background-color: #DAA520;
    border-color: #DAA520;
}

/* body index*/
.body-index {
    background-color: #F5F5F5;
}

.body-index-title {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Lato', sans-serif;
    font-size: 3.2rem;
    color: #150505;

}

.body-intex-tag {
    padding-left: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    color: #150505;
}

/* Body CARDS */
.body-index-cards-general {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    gap: 2%;
}

/* CARD INDIVIDUAL */

.body-index-cards-individual {
    background-color: #F1EEE8;
    padding: 3% 2%;
    border-radius: 24px;
    max-width: 18%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.body-index-cards-individual:hover {
    background-color: #daa52038;
}

.card-img-book-cover {
    max-width: 102px;
}

.card-book-title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.0rem;
    color: #150505;
}

.card-book-description {
    font-family: 'Rhodium Libre', serif;
    color: #150505;
    font-size: 1.2rem;

}

.rommance {
    padding-bottom: 5%;
}

/* footer */
.footer-main {
    background-color: #2E4A6E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

/* footer first collumn */
.footer-left {
    min-width: 33%;
    display: flex;
    justify-content: center;
}

.footer-menu-ul {
    list-style-type: none;
}

.footer-menu-li {
    padding: 20px;
}

.footer-menu-a {
    color: #F5F5F5;
    font-size: 1.4rem;
}

.footer-menu-a:hover{
    color: #DAA520;
}

/* footer second collumn */
.footer-middle {
    min-width: 33%;
    text-align: center;
    color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.footer-middle-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.footer-middle-social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-icons {
    max-height: 40px;
}

.footer-middle-input  {
    border-radius: 16px;
    border-style: none;
    margin-bottom: 20px;
    width: 60% !important;
    /* padding: 5px 30px; */
}

.footer-middle-button {
    color: #F5F5F5;
    background-color: #588F05;
    border-style: solid;
    border-color: #588F05;
    border-radius: 24px;
    padding: 3px 20px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.footer-middle-button:hover {
    border-color: #DAA520;
    background-color: #DAA520;
}

/* footer third collumn */
.footer-right {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #F5F5F5;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding-right: 20px;
}

.footer-right-title {
    font-weight: 900;
}

/* BODY BOOK LIST */
.body-booklist {
    padding-bottom: 50px;
}


/* TABLE BOOK LIST*/
table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
}

th {
   height: 70px;
   font-family: 'Lato', sans-serif;
   color: #150505;
   font-weight: 900;
   font-size: 1.6rem;
}

td {
    text-align: center;
    width: 200px;
    font-family: 'Lato', sans-serif;
    color: #150505;
    font-weight: 400;
    font-size: 1.4rem;
}

tr:hover{
    background-color: #daa52038;
}

th, td {
    padding: 15px;
  }

.book-cover-table {
    max-width: 80px;
}

/* BODY ABOUT US */
.div-about-us {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    padding-bottom: 50px;
}

.text-about-us {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
}

/* CONTACT */
.body-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 05px;
}

.contac-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    background-color: #F1EEE8;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 24px;
}

input,
textarea {
    width: 500px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: vertical;
    border-radius: 16px;
    border-style: none;
}

.send-button {
    color: #F5F5F5;
    background-color: #588F05;
    border-style: solid;
    border-color: #588F05;
    border-radius: 24px;
    padding: 2px 60px;
    font-family: 'Rhodium Libre', serif;
    font-weight: 100;
    font-size: 1.4rem;
}

.send-button:hover {
    border-color: #DAA520;
    background-color: #DAA520;
}

/* BOOK DETAILS PAGE */
.book-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.book-review-img {
    max-width: 35%;
    margin-bottom: -7%;
    z-index: 10;
}

.book-review-big-card {
    background-color: #F1EEE8;
    max-width: 70%;
    border-radius: 24px;
    padding: 10% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.book-review-synopsis-card {
    z-index: 10;
    background-color: #ffffff;
    border: 1px dashed #311a1a5a;
    border-radius: 24px;
    padding: 2%;
}

.book-review-lables {
    font-family: 'Rhodium Libre', serif;
    font-size: 1.6rem;
}

.book-review-inside-card {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;

}